.envelope-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.9); // Fondo blanco semitransparente
}

.content {
  position: relative;
}

.envelope {
  width: 200px;
  height: 120px;
  background-color: #e0c9a6;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 100000;
}

.envelope::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #c0a983;
  transform-origin: top;
  transform: rotateX(0deg);
  transition: all 0.3s ease;
  z-index: 20;
}
