.container {
  height: 100vh;
  width: 100%;
  background-image: url("/images/fondo.webp"); /* cambia según tu ruta */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.quoteWrapper {
  padding: 0 1rem;
  text-align: center;
  max-width: 90%;
}

.quoteText {
  font-size: clamp(2.5rem, 4vw, 5.8rem);
  font-weight: 400;
  font-family: var(--font-meow), cursive;
  color: #7a8b75;
  line-height: 1.4;
  user-select: none;
  display: block;
}
